<nav class="breadcrumb-nav">
    <div class="blue nav-wrapper">
      <div class="col s12">
        <a routerLink="" class="breadcrumb">Home</a>
        <a routerLink="tutorials" class="breadcrumb">Tutorials</a>
      </div>
    </div>
  </nav>
<div class="cards display-flex">
<div class="card">
   <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
    <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
    <div class="display-flex justify-content-between flex-wrap mt-4">
        <div class="chip amber white-text">Node.js</div>
        <div class="chip red white-text">AngularJs</div>
        <div class="chip green white-text">MongoDB</div>
    </div>
</div>
<div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
 <div class="card">
    <h6 class="deep-purple-text text-darken-3 mt-5"><a routerLink="/tutorials/2">Programmatic Video Editing with FFmpeg</a></h6>
     <span>In the following lesson, we’ll look at a collection of useful techniques for working with FFmpeg that you can use to build your own video editing utilities or apps.</span>
     <div class="display-flex justify-content-between flex-wrap mt-4">
         <div class="chip">Node.js</div>
         <div class="chip">AngularJs</div>
         <div class="chip">MongoDB</div>
     </div>
 </div>
</div>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>