.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.breadcrumb-nav {
    width: 100vw;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;

    nav {
        color: #fff;
        width: 100%;
        height: 40px;
        line-height: 40px;
    }

    .contentBlock {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: rgb(235, 235, 241);

        .content-nav {
            width: 280px;
            height: 100%;
            overflow-y: scroll;
            .content-item {
                background: white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 12px 6px;
                margin: 4px 0px;

                i {
                    cursor: pointer;
                }
            }

            .selected {
                background: #2196F3;
                color: #fff;
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 55px;
                background-color: white;
                border-radius: 10px;
            }
        }

        .content-form {
            padding: 10px;
            width: 100%;
            height: 100%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            .textInput{
                width: 100%;
            }
          

        }
    }

}
.editorInput{
    overflow: auto;
    height: 80%;
}
// .card mat-form-field {
//     overflow: hidden;
// }

// .card button {
//     margin-top: 20px;
//     align-self: flex-end;
// }

// .content-container {
//     width: 100%;
//     display: flex;

//     height: 100%;

//     .sidenav {
//         background-color: #0e0118;
//         width: 280px;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         flex-direction: column;

//         .actions {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;
//             height: 55px;
//             width: 250px;
//             background-color: white;
//             margin: 4px;
//             padding: 4px 10px;
//             border-radius: 10px;
//         }

//         .navList {
//             width: 280px;
//             height: 100%;
//             overflow-y: scroll;

//             .navItem,
//             .contentItem {
//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;
//                 background-color: white;
//                 margin: 4px;
//                 padding: 10px;
//                 border-radius: 10px;
//                 cursor: pointer;
//                 flex-direction: row;
//                 p{
//                     width: 80%;
//                     padding: 4px 8px;
//                 }
//             }

//             .selected {
//                 background-color: #D9D9E3;
//             }

//             .contentItem {
//                 background-color: #0e0118;
//                 color: rgb(195, 65, 5);
//                 border-radius: 0px;
//             }
//         }
//     }

//     .content-form {
//         max-width: 780px;
//         height: 100%;
//         width: 100%;
//         margin: 8px;
//         background-color: rgb(252, 252, 252);
//     }
//     .msg{
//         display: flex;
//         max-width: 780px;
//         height: 100%;
//         width: 100%;
//         margin: 8px;
//         background-color: rgb(252, 252, 252);
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//     }
// }
.form-group {
    overflow: auto;
    height: 80%;
  }
  .ql-container {
    border: 1px solid lightgray;
    font-family: unset !important;
    font-size: unset !important;
  }

  .ql-container .ql-editor {
    overflow: visible;
  }
  .example-full-width{
    width: 100%;
  }
  .cdk-drag-preview {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 4px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: row;
  }