<nav class="breadcrumb-nav">
    <div class="blue nav-wrapper">
        <div class="col s12">
            <a routerLink="" class="breadcrumb">Home</a>
            <a routerLink="tutorials" class="breadcrumb">Tutorials</a>
            <a routerLink="tutorials" class="breadcrumb">Programmatic Video Editing with FFmpeg</a>
        </div>
    </div>
</nav>
<div class="tutorial-container">
    <ul class=" contents collection with-header">
        <li class="collection-header">
            <h4>Contents</h4>
        </li>
        <li class="collection-item">Useful FFmpeg Techniques</li>
        <li class="collection-item">Convert a File to a Different Format</li>
        <li class="collection-item">Extract Audio from a Video File</li>
        <li class="collection-item">Create a High-Quality Animated Gif</li>
        <li class="collection-item">Add Subtitles to a Video</li>
        <li class="collection-item">Using FFmpeg in Firebase Cloud Functions</li>
    </ul>

    <div class="card tutorial">

        <h4 class="title">Programmatic Video Editing with FFmpeg</h4>
        <div class="content">
            <a href="/tutorials/2" class="title"> <i class="material-icons">link</i>Useful FFmpeg Techniques</a>
            <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
        </div>
        <div class="content">
            <a href="/tutorials/2" class="title"> <i class="material-icons">link</i>Useful FFmpeg Techniques</a>
            <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
        </div>
        <div class="content">
            <a href="/tutorials/2" class="title"> <i class="material-icons">link</i>Useful FFmpeg Techniques</a>
            <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
        </div>
        <div class="content">
            <a href="/tutorials/2" class="title"> <i class="material-icons">link</i>Useful FFmpeg Techniques</a>
            <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
        </div>
        <div class="content">
            <a href="/tutorials/2" class="title"> <i class="material-icons">link</i>Useful FFmpeg Techniques</a>
            <quill-view-html [content]="htmlstring" theme="snow"></quill-view-html>
        </div>
        <div class="comments-container">
            <h5 class="title">Comments</h5>
            <ul class="collection">
                <li *ngFor="let comment of comments" class="comment collection-item avatar">
                    <div class="left">
                        <img src="https://ui-avatars.com/api/?name={{comment.name}}" alt="" class="circle">
                        <div class="info">
                            <span class="title">{{ comment.name}}</span>
                            <p>
                                {{comment.message}}
                            </p>
                        </div>
                    </div>
                    <!-- <i class="material-icons">thumb_up</i> -->
                </li>

            </ul>
           <div class="comment-form">
               <input type="text" name="Enter Your Comment" >
              <button class="waves-effect white waves-light btn"><i class="material-icons blue-text">send</i></button> 
           </div>
        </div>
    </div>
</div>