<div class="title">Explore the World of Web Development with Us</div>

<div class="row">
    <div class="card gradient-shadow green-teal border-radius-3 animate fadeUp">
        <div class="card-content center">
            <img src="assets/images/shapes.png" class="width-40 border-round z-depth-5 responsive-img" alt="image">
            <h5 class="white-text lighten-4">Wanna Play a Game</h5>
            <a routerLink="game" class="white green-text waves-effect  waves-light btn-small">Play</a>
        </div>
    </div>
    <div class="card gradient-shadow blue-cyan  border-radius-3 animate fadeUp">
        <div class="card-content center">
            <img src="assets/images/blog.png"
                class="width-40  z-depth-5 responsive-img square" alt="image">
            <h5 class="white-text  lighten-4">Step By Step Beginner Tutorials</h5>
            <a routerLink="tutorials" class="white blue-text waves-effect  waves-light btn-small">Check Out</a>
        </div>
    </div>
    <div class="card gradient-shadow amber-amber border-radius-3 animate fadeUp">
        <div class="card-content center">
            <img src="assets/images/laptop.png"
                class="width-40 border-round z-depth-5 responsive-img" alt="image">
            <h5 class="white-text lighten-4">Web Challenges</h5>
            <a class="white amber-text waves-effect  waves-light btn-small">Try Now</a>
        </div>
    </div>
    <div class="card gradient-shadow indigo-purple border-radius-3 animate fadeUp">
        <div class="card-content center">
            <img src="assets/images/idea.png"
                class="width-40 border-round z-depth-5 responsive-img" alt="image">
            <h5 class="white-text lighten-4">Wanna a talk about a Project </h5>
            <a class="white purple-text waves-effect  waves-light btn-small">Contact</a>
        </div>
    </div>
</div>